---
layout: layout.pug
---

include src/partials/header.pug

main
  .container
    hr
    h1 main
    img.img-fluid(src="assets/img/800x600.jpg", alt="")
    p
      | Lorem ipsum dolor sit amet,
      strong consectetur adipisicing elit,
      | sed do eiusmod tempor incididunt ut
      a(href="#0") labore et dolore
      | magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    ul
      li
        a(href="#0", title="pippo 1")
          span.icon
          | link 1
      li
        a(href="#0", title="pippo 2")
          span.icon
          | link 2
      li
        a(href="#0", title="pippo 3")
          span.icon
          | link 3
    table
      tr
        td 1
        td 2
        td 3
      tr
        td 4
        td 5
        td 6
      tr
        td 7
        td 8
        td 9
    hr

    .row
      each i in items
        .col-sm-6.col-md-4.col-lg-3
          .card
            img.card-img-top.img-fluid(src=i.image, alt="")
            .card-block
              h6.card-title
                span.fa.fa-user
                |  #{i.title}

include src/partials/footer.pug
