doctype html
html(lang='it')
  head
    meta(charset='UTF-8')
    title= title
    meta(name='description', content=description)
    meta(name='author', content='elemind.com')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css')
    link(rel='stylesheet', href='assets/css/main.css')
  body

    != contents

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='assets/js/main.js')